body{
	font-family: 'PT sans,serif';
	background-color: #252529;
	margin:0;
	color: #fff;
	line-height: 1.6;
}
a{
	text-decoration:line;
	color: #ccc;

}
.demo1:hover{
	background-color:black;
	text-align: center;
	font-family: sans-serif;
}
.demo2{
	text-align: center;
}
#showcase{
	margin: 0;
	padding: 0;
	background:url(images/education.jpg) no-repeat center/cover;
	background-attachment:fixed;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
#showcase.container{
	margin-top: 25vh;

}
#showcase h1{
	font-size: 3rem;
	margin-bottom: 0;
}
#showcase h2{
	font-size: 2rem;
	text-align: center;
	

}

nav{
	height: 40px;
	width:100%;
	background-color: #3333
	color:rgb(51,34,34);
	position: fixed;
}
nav ul{
	margin: 0;
	padding: 0;

}
nav li{
	display: inline;
	float: right;
}
nav a{
	display: inline-block;
	width:120px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	color:#eee;
}
 nav li:hover{ background-color: #444;
  }
  .container{
  	max-width: 1180px;
  	text-align: center;
  	margin: 0   auto;
    padding:0 3rem;
  }
  .lead{
  	font-size: 1.3rem;

  }
  .demo2{
  	font-family:cursive;
  }
   h3:hover{
   	background-color: brown;
   }
footer .footer-cols{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4,1fr);
	padding: 2rem;
	text-align:left;
	font-size: 16px;

}
footer.footer-cols ul{
	list-style:lower-norwegian;
}

footer.footer-cols ul li:first-child{
	font-size: 1.2rem;
	padding-bottom: 2 rem;
	border-bottom: #444  solid 2px;
	margin-bottom: 1rem;
}
footer.footer-bottom{
	background-color: #333;
	padding: 1rem;
	text-align: center;
}